body {
	background-image: url("https://images.unsplash.com/photo-1683900923234-b7e666687ff4?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=visax-qYxTmTFze50-unsplash.jpg&w=320");
	background-repeat: repeat-x;
	background-color: black;
	margin: 100px;
	color: white;
}
