p {
	color: darkorchid;
	font-family: 'Lucida Sans';
	text-align: justify;
	font-size: 10px;
	text-indent: 20px;
	word-spacing: 5px;
	border: 5px solid darkorchid;
	padding: 10px;
	background-color: rgba(217, 112, 213, 0.75);
	opacity: 0.5;
}

body {
	background-color: yellow;
}