.diviec {
	font-variant: small-caps;
	color: chocolate;
	border: 0.3em dashed chocolate;
	border-radius: 20px/30px 30px;
	width: 30em;
	height: 15em;
	padding: 20px;
	letter-spacing: 2px;
	text-transform: capitalize;
}